# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
print(pd.__version__)

2.2.2

In [2]:
#Kiểm tra xem thư viện Pandas đã được đọc chưa

# Đọc file CSV
pokemon_doc_tu_csv = pd.read_csv('pokemon.csv')

# Hiển thị 5 dòng đầu tiên
pokemon_doc_tu_csv.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Step 2. Create a data dictionary that looks like the DataFrame below

In [3]:
data={"evolution":["Ivysaur","Charmeleon","Wartortle","Metapod"],"hp":[45,39,44,45],"name":["Bulbasaur","Charmander","Squirtle","Caterpie"],"pokedex":["yes","no","yes","no"],"type":["grass","fire","water","bug"]}

### Step 3. Assign it to a variable called pokemon

In [5]:
pokemon = pd.DataFrame(data)

# Hiển thị kết quả
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [6]:
pokemon = pokemon[["name", "type", "hp", "evolution", "pokedex"]]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [7]:
# Thêm 1 cột tên là place, chèn những gì do mình nghĩ ra

pokemon["place"]=["Laos","Cambodian","VietNam","HaiDuong"]
pokemon

C:\Users\hauid\AppData\Local\Temp\ipykernel_4620\1789462744.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon["place"]=["Laos","Cambodian","VietNam","HaiDuong"]

         name   type  hp   evolution pokedex      place
0   Bulbasaur  grass  45     Ivysaur     yes       Laos
1  Charmander   fire  39  Charmeleon      no  Cambodian
2    Squirtle  water  44   Wartortle     yes    VietNam
3    Caterpie    bug  45     Metapod      no   HaiDuong

### Step 6. Present the type of each column

In [8]:
print(pokemon.dtypes)

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [11]:
# 1. Làm thế nào lọc được các pokemon có hp lớn hơn hoặc bằng 44

pokemon[pokemon["hp"] >= 44]

        name   type  hp  evolution pokedex     place
0  Bulbasaur  grass  45    Ivysaur     yes      Laos
2   Squirtle  water  44  Wartortle     yes   VietNam
3   Caterpie    bug  45    Metapod      no  HaiDuong

In [12]:
# 2. Làm thế nào để đếm số lượng Pokémon theo từng loại

pokemon["type"].value_counts()

type
grass    1
fire     1
water    1
bug      1
Name: count, dtype: int64

In [13]:
# Đổi tên cột place thành location

pokemon.rename(columns={"place": "location"}, inplace=True)

C:\Users\hauid\AppData\Local\Temp\ipykernel_4620\2295129565.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon.rename(columns={"place": "location"}, inplace=True)

In [14]:
pokemon

         name   type  hp   evolution pokedex   location
0   Bulbasaur  grass  45     Ivysaur     yes       Laos
1  Charmander   fire  39  Charmeleon      no  Cambodian
2    Squirtle  water  44   Wartortle     yes    VietNam
3    Caterpie    bug  45     Metapod      no   HaiDuong