# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
print(pd.__version__)

2.2.2

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
# Step 2: Create a data dictionary that looks like the DataFrame below
data = {
    "evolution": ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
    "hp": [45, 39, 44, 45],
    "name": ["Bulbasaur", "Charmander", "Squirtle", "Caterpie"],
    "pokedex": ["yes", "no", "yes", "no"],
    "type": ["grass", "fire", "water", "bug"]
}

### Step 3. Assign it to a variable called pokemon

In [4]:
# Step 3: Assign it to a variable called pokemon
pokemon = pd.DataFrame(data)

# Hiển thị kết quả
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [5]:
# Reorder the columns as: name, type, hp, evolution, pokedex
pokemon = pokemon[["name", "type", "hp", "evolution", "pokedex"]]
print(pokemon)

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [6]:
# Add a new column called "place" with arbitrary values
pokemon["place"] = ["Forest", "Mountain", "Lake", "Forest"]
print(pokemon)

         name   type  hp   evolution pokedex     place
0   Bulbasaur  grass  45     Ivysaur     yes    Forest
1  Charmander   fire  39  Charmeleon      no  Mountain
2    Squirtle  water  44   Wartortle     yes      Lake
3    Caterpie    bug  45     Metapod      no    Forest

C:\Users\admin\AppData\Local\Temp\ipykernel_5340\3203400962.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon["place"] = ["Forest", "Mountain", "Lake", "Forest"]

### Step 6. Present the type of each column

In [7]:
# Present the type of each column
print(pokemon.dtypes)

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [8]:
# BONUS: Câu hỏi: Loại Pokemon nào xuất hiện nhiều nhất?
most_common_type = pokemon["type"].value_counts().idxmax()
print("Most common type is:", most_common_type)

Most common type is: grass